#additionnelLogo {
    position: fixed;
    display: block;
    margin-right: 60px;
    right: 0.5%;
    bottom: 1px;
    height: 50px;
}

#additionnelLogo .gip{
height: 35px;
}

#additionnelLogo .pigma{
  height: 25px;
  }
